body{
    background-image: url(img/4853433.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.logo{
    margin-top: 1%;
    margin-left: 1%;
    width:auto;
    height:80px;
}

.navbar{
    flex-direction: column;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: white;
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: 15px;
}

.link{
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;

    border-radius: 7%;
    display: block;
    margin: 10px;
    padding: 7px;
    text-transform: uppercase;
    border-radius: 10%;
    text-align: center;
    color:cadetblue;
}

#menü{
    font-weight: bolder;
    font-size: large;
}

.cim{
    text-align: center;
    font-size: xx-large;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    }