.logo{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    width:80px;
    height:80px;
}

.navbar{
    background-image: url(img/background2.jpg);
    text-align: left;
}

.link{
    text-decoration: none;
    color: black;
    margin: 10px;
    font-weight: bolder;
    font-size: 20px;
}

.link:hover{
    color: black;
}

#menü{
    font-weight: bolder;
    font-size: large;
}